<div class="skills-container">
  <h2>{{ 'SKILLS.TITLE' | translate }}</h2>

  <div class="skills-group">
    <h3>{{ 'SKILLS.FRONTEND' | translate }}</h3>
    <ul>
        @for(skill of frontendSkills; track skill){
            <li>{{skill}}</li>
        }
      <!-- <li *ngFor="let skill of frontendSkills">{{ skill }}</li> -->
    </ul>
  </div>

  <div class="skills-group">
    <h3>{{ 'SKILLS.BACKEND' | translate }}</h3>
    <ul>
        @for(skill of backendSkills; track skill){
            <li>{{skill}}</li>
        }
      <!-- <li *ngFor="let skill of backendSkills">{{ skill }}</li> -->
    </ul>
  </div>

  <div class="skills-group">
    <h3>{{ 'SKILLS.OTHERS' | translate }}</h3>
    <ul>
        @for(skill of otherSkills; track skill){
            <li>{{skill}}</li>
        }
      <!-- <li *ngFor="let skill of otherSkills">{{ skill }}</li> -->
    </ul>
  </div>
</div>
