<div class="about-container">
  <div class="profile-picture">
    <img src="assets/img/perfil.jpg" alt="Foto de perfil" />
  </div>
  <div class="informations">
    <h2>{{ 'ABOUT-ME.TITLE' | translate }}</h2>
    <p>{{ 'ABOUT-ME.P1' | translate }}</p>
    <p>{{ 'ABOUT-ME.P2' | translate }}</p>
    <p>{{ 'ABOUT-ME.P3' | translate }}</p>
    <ul>
      <li><strong>{{ 'ABOUT-ME.AGE' | translate }}:</strong> 29</li>
      <li><strong>{{ 'ABOUT-ME.CITY' | translate }}:</strong> Belo Horizonte - MG</li>
      <li><strong>{{ 'ABOUT-ME.EMAIL' | translate }}:</strong> gabriel.vfa96&#64;gmail.com</li>
    </ul>
  </div>
</div>
